.features-container {
  padding: 2rem 0 6rem 0;
}
.features-row {
  padding: 30px 0;
}
.features-container .icon-container .icon i {
  color: var(--main-color);
  font-size: 35px;
  margin-top: 20px;
}
.features-container .icon-container:hover .icon {
  background: var(--main-color);
  border-color: var(--main-color);
}
.features-container .icon-container {
  margin-bottom: 12px;
}
.features-container .icon:hover {
  cursor: pointer;
}
.features-container .icon-container:hover i,
.features-container .icon-container:hover p {
  color: #fff;
}
.features-container .icon {
  border: 1px solid #1a6692;
  border-radius: 3px;
  padding-top: 10px;
  -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -ms-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -o-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
}
.features-container .icon p {
  color: #6f6f6f;
  text-transform: uppercase;
  margin-top: 15px;
}

@media only screen and (max-width: 480px) {
  .features-container .icon-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .features-container .icon-container .icon i {
    font-size: 30px;
  }
}
