.featured-rooms-container {
  margin-bottom: 5rem;
}
.featured-rooms-container .card {
  box-shadow: 1px 4px 5px 2px #6f6f6f;
}
.featured-rooms-container .card .card-body h5 {
  color: #454545;
  font-weight: 600;
}
.featured-rooms-container .card .card-body p {
  color: #f51167;
  font-size: 24px;
  display: inline;
  /* border-bottom: 2px solid #f51167; */
}
.featured-rooms-container .card .card-body p ~ span {
  color: #949494;
  margin-left: 5px;
  letter-spacing: 1px;
}
.featured-rooms-container .card .card-body .list {
  padding-inline-start: 0 !important;
  color: #6f6f6f;
}
.featured-rooms-container .card .card-body .list li {
  list-style: none;
}
.featured-rooms-container .card .card-body .list li span {
  color: #f51167;
}
.featured-rooms-container .card-footer button {
  padding: 5px 25px;
  background: transparent;
  color: #1a6692;
  border: 1px solid #1a6692;
  width: 100%;
  font-weight: 700;
  -webkit-transition: all 150ms ease-in 120ms;
  -o-transition: all 150ms ease-in 120ms;
  transition: all 150ms ease-in 120ms;
}
.featured-rooms-container .card-footer button {
  box-shadow: none;
}
.featured-rooms-container .card-footer button span {
  color: #1a6692;
  background: transparent;
  margin-left: 10px;
  -webkit-transition: all 150ms ease-in 120ms;
  -o-transition: all 150ms ease-in 120ms;
  transition: all 150ms ease-in 120ms;
}
.featured-rooms-container .card-footer button:hover span {
  color: white;
}
.featured-rooms-container .card-footer button:hover {
  background: #1a6692;
  color: white;
}
