/* =========================================
================= ABOUT =================
========================================= */

.branch-img-container {
  width: 100%;
}
.branch-img-container img {
  object-fit: cover;
  height: 200px;
}
.branch p {
  margin-top: 10px;
  font-size: 18px;
  color: #6f6f6f;
}
.picture-text-container {
  padding: 2rem 0 1rem 0;
}
.picture-text-container .icons i {
  color: #454545;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.picture-text-container .icons i:hover {
  color: var(--main-color);
}
.picture-text-container .the-text h1 {
  color: #454545;
}
.picture-text-container .the-text p {
  color: #6f6f6f;
  letter-spacing: 1px;
}

/* =========================================
================= CONTACT =================
========================================= */

.contact__info {
  margin-bottom: 40px;
}
.contact__info .phone-div,
.contact__info .email-div,
.contact__info .website-div {
  border: 1px solid var(--main-color);
  -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -ms-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -o-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  border-radius: 3px;
}
.contact__info .phone-div h5,
.contact__info .email-div h5,
.contact__info .website-div h5 {
  margin-top: 15px;
  font-weight: 600;
  color: #4c4c4c;
}
.contact__info .phone-div p,
.contact__info .email-div p,
.contact__info .website-div p {
  color: #6f6f6f;
}
.contact-form input {
  border-radius: 3rem;
  margin-bottom: 20px;
  background: #e4e4e4 !;
}
.contact-form textarea {
  margin-bottom: 20px;
}
.modalBody button:focus,
.contact-form button:focus,
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: none;
  border: 1px solid var(--main-color);
}
.contact-form button {
  padding: 0.5rem 0;
  cursor: pointer;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: #fff;
}
.contact-form button:hover {
  background: transparent;
  color: var(--main-color);
}

/* Modal Styles */

.contactModal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 1000000;
}
.contactModal.hidden {
  display: none;
}
.contactModal .modalContainer {
  width: 80%;
  padding: 20px;
}
.contactModal .modalContainer .modalBody {
  display: inline-block;
  background-color: #fff;
  border: 1px solid none;
  padding: 10px;
  border-radius: 4px;
}
.modalBody .fa {
  font-size: 40px;
  padding: 20px 0;
}
.modalBody .fa-check-circle {
  color: var(--main-color);
}
.modalBody .fa-times-circle {
  color: #f00;
}
.modalBody #modalHTwo {
  font-size: 24px;
}
.modalBody #modalP {
  color: #4c4c4c;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
}
.modalBody button {
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: #4c4c4c;
  width: 50%;
  margin-bottom: 20px;
}

/* =========================================
  ================= SINGLE APARTMENT =================
  ========================================= */
.apartment-header {
  position: relative;
  margin-bottom: 30px;
}
.apartment-header .img-container {
  width: 100%;
}
.apartment-header .img-container img {
  object-fit: cover;
  height: 60vh;
  width: 100%;
}
.apartment-header .name-hero {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.635);
  text-align: center;
  width: 60%;
  border-radius: 3px;
  padding: 20px 0;
}
.apartment-header .name-hero h1 {
  color: white;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 50px;
  font-weight: 600;
}
.apartment-header .name-hero .accent {
  border: 1px solid var(--main-color);
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.apartment-header .name-hero .book-now {
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 30%;
  background: var(--main-color);
  color: #fff;
}
.reserve-btn:focus,
.apartment-header .name-hero .book-now:focus {
  box-shadow: none;
}
.room-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.img-wrapper {
  width: 33%;
}
.room-img {
  width: 100%;
  object-fit: cover;
}
.room-description p {
  color: #525252;
  letter-spacing: 1px;
  text-align: justify;
}
/* .reserve-btn {
  border: 1px solid #1a6692;
  width: 100%;
  background: #1a6692;
  margin-bottom: 30px;
  color: #fff;
  padding: 8px 0;
}
.reserve-btn:hover {
  background: transparent;
  color: #1a6692;
} */
.apartment-room {
  border: 1px solid #d0d0d0;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 75%;
}
.apartment-room .single-room {
  text-align: left;
}
.apartment-room .single-room h3 {
  color: #1a6692;
  font-weight: 700;
}
.apartment-room .single-room .bedtype-capacity {
  display: flex;
}
.apartment-room .single-room .bedtype-capacity span {
  color: #4c4c4c;
  margin-left: 20px;
}
.apartment-room .single-room .bedtype-capacity p {
  color: #4c4c4c;
}
.apartment-room .single-room .bedtype-capacity span b {
  color: #1a6692;
  /* font-weight: 600; */
}
.apartment-room .single-room hr {
  border-color: #f51168a6;
  margin-top: 0;
}
.apartment-room .room-extras,
.apartment-room .room-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.apartment-room .room-extras small,
.apartment-room .room-info small {
  margin-right: 10px;
  color: #525252;
  margin-bottom: 10px;
}
.apartment-room .room-extras small span,
.apartment-room .room-info small span {
  color: #4c4c4c;
  margin-right: 5px;
}
.apartment-room .apartment-cta p {
  margin-bottom: 5px;
  font-weight: 600;
}
.apartment-room .apartment-cta .duration {
  color: var(--main-color);
}
.apartment-room .apartment-cta .refundable,
.apartment-room .apartment-cta .not-refundable {
  font-size: 12px;
}
.apartment-room .apartment-cta .refundable {
  color: green;
}
.apartment-room .apartment-cta .reserve-now-btn {
  border: 1px solid #1a6692;
  padding: 5px 20px;
  color: #fff;
  background: #1a6692;
}
.apartment-room .apartment-cta .reserve-now-btn:hover {
  background: #fff;
  color: #1a6692;
}

/* =========================================
    ================= RESERVE ROOM =================
    ========================================= */

.crumb {
  border: 1px solid var(--main-color);
  border-radius: 3px;
  color: #4c4c4c;
  width: 100%;
  padding: 15px 0;
}
.crumb.active {
  color: #fff;
  background: var(--main-color);
}
.crumb-demarcate {
  background: #ececec;
  height: 2px;
  width: 50%;
}
.crumb:focus {
  box-shadow: none;
}
.details-box,
.checkout-box,
.reserve-box {
  border: 1px solid #d0d0d0;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 40px !important;
}
.details-box .details-text,
.reserve-box .booking-text {
  font-size: 24px;
  font-weight: 600;
}
.details-confirm,
.selection-confirm {
  background: #1a6692;
  color: #fff;
}
.price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #ececec;
}
.reserve-box .price-div p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}
.reserve-box .stay-div {
  margin-top: 20px;
  /* font-size: 14px; */
}
.reserve-box .stay-div p:first-child {
  color: #4c4c4c;
  font-weight: normal;
  margin-bottom: 0;
}
.reserve-box .stay-div p:last-child {
  /* font-size: 14px; */
  margin-bottom: 0;
  font-weight: 700;
}
.reserve-box .date-div {
  display: flex;
  margin-top: 10px;
}
.reserve-box .date-div .check-out {
  border-left: 1px solid #e4e4e4;
  padding-left: 20px;
  margin-left: 40px;
}
.reserve-box .date-div .check-out p,
.reserve-box .date-div .check-in p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
}
.reserve-box .date-div .check-out .check-out-details,
.reserve-box .date-div .check-in .check-in-details {
  color: #4c4c4c;
  margin-bottom: 0;
  font-weight: normal;
}
.reserve-box .date-div .check-out .check-out-details p:first-child,
.reserve-box .date-div .check-in .check-in-details p:first-child {
  color: var(--main-color);
}
.reserve-box .date-div .check-out .check-out-details p:last-child,
.reserve-box .date-div .check-in .check-in-details p:last-child {
  color: #4c4c4c;
  font-weight: normal;
  margin-bottom: 0;
}
.details-box input {
  margin-bottom: 10px;
}
.details-box input:focus {
  border: 1px solid #1a6692;
  box-shadow: none;
}

.success-msg {
  color: #20925d;
  text-align: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.success-msg svg {
  font-size: 60px;
  border: 1px solid #20925d;
  border-radius: 30px;
  padding: 10px;
}
.success-msg .title {
  font-size: 25px;
  margin-top: 10px;
}
.success-msg p {
  color: #6f6f6f;
  font-size: 18px;
}
.success-msg .call-to-action {
  display: flex;
  margin-left: auto;
}
.success-msg .call-to-action .btn {
  border: 1px solid var(--main-color);
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 3px;
  color: #6f6f6f;
  background: transparent;
}
.success-msg .call-to-action .btn:hover {
  background: var(--main-color);
  color: #fff;
}
.success-msg .call-to-action .btn:focus {
  box-shadow: none;
}

/* =========================================
      ================= SEARCH =================
      ========================================= */
.sidebar-wrapper {
  padding: 20px;
  border: 1px solid #e6e6e6;
  margin-bottom: 30px;
}
.select-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-wrap .form-control:focus {
  border: 1px solid #1a6692;
  box-shadow: none;
}
.sidebar-wrapper .stars-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sidebar-wrapper .stars-rating .starred {
  color: var(--main-color);
}
.sidebar-wrapper .search-btn {
  width: 100%;
  border: 1px solid var(--main-color);
  margin-top: 20px;
  background: transparent;
  color: #6f6f6f;
}
.sidebar-wrapper .search-btn:focus {
  box-shadow: none;
  outline: none;
}
.sidebar-wrapper .search-btn:hover {
  /* border: 1px solid var(--main-color); */
  background: var(--main-color);
  color: #fff;
}

/* =========================================
      ================= CARD STYLES =================
      ========================================= */

/* .room-card {
  margin-bottom: 5rem;
} */
.room-card .card {
  /* box-shadow: 1px 4px 5px 2px #6f6f6f; */
  -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -ms-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -o-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
}
.room-card .card .card-body h5 {
  color: #454545;
  font-weight: 600;
}
.room-card .card .card-body p {
  color: var(--main-color);
  font-size: 24px;
  display: inline;
  /* border-bottom: 2px solid var(--main-color); */
}
.room-card .card .card-body p ~ span {
  color: #949494;
  margin-left: 5px;
  letter-spacing: 1px;
}
/* .room-card .card .card-body .list {
  padding-inline-start: 0 !important;
  color: #6f6f6f;
  margin-bottom: 0 !important;
}
.room-card .card .card-body .list li {
  list-style: none;
}
.room-card .card .card-body .list li span {
  color: var(--main-color);
} */
.room-card .card-footer button {
  padding: 5px 25px;
  background: transparent;
  color: #1a6692;
  border: 1px solid #1a6692;
  width: 100%;
  font-weight: 700;
  -webkit-transition: all 150ms ease-in 120ms;
  -o-transition: all 150ms ease-in 120ms;
  transition: all 150ms ease-in 120ms;
}
.room-card .card-footer button {
  box-shadow: none;
}
.room-card .card-footer button span {
  color: #1a6692;
  background: transparent;
  margin-left: 10px;
  -webkit-transition: all 150ms ease-in 120ms;
  -o-transition: all 150ms ease-in 120ms;
  transition: all 150ms ease-in 120ms;
}
.room-card .card-footer button:hover span {
  color: white;
}
.room-card .card-footer button:hover {
  background: #1a6692;
  color: white;
}

/* =========================================
================= APARTMENTS =================
========================================= */

.search-box {
  border: 1px solid #1a6692;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 20px 20px;
}
/* .search-form {
  padding: 10px 20px;
} */

.the-date-range {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  margin-top: 60px;
  margin-left: 18px;
}
.slider-div {
  position: absolute;
  top: 0;
  z-index: 99999;
  margin-top: 60px;
  background: #1a6692;
  padding-top: 20px;
  border-radius: 5px;
}
.search-box .search-item i {
  margin: 0 10px;
  color: #1a6692;
}
.search-box .search-item {
  cursor: pointer;
}
.room-search-btn {
  background-color: #1a6692;
  border: 1px solid #1a6692;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.room-search-btn:hover {
  border: 1px solid #1a6692;
  background-color: transparent;
  color: #1a6692;
}
.room-search-btn:focus {
  box-shadow: none;
  outline: none;
}
.search-form .search-item span {
  color: #6f6f6f;
}
/* .rdrCalendarWrapper {
  background: #000 !important;
} */

/* =========================================
================= ERROR STYLES =================
========================================= */

.error__div {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
}
.error_image_wrapper {
  width: 250px;
  height: 260px;
  margin-top: 10px;
}
.error__div h1 {
  color: #f51167;
  margin-top: 10px;
}
.error__div p {
  color: #5c5c5c;
  font-size: 18px;
}
.error__div .single__page-error {
  color: #f51167;
  padding: 5px 10px;
  border: 1px solid #f51167;
  border-radius: 3px;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.error__div .single__page-error:hover {
  color: #fff;
  background: #f51167;
}
/* .Toastify__toast-container--top-center {
  z-index: 99999999 !important;
} */

body.no-internet nav {
  background: #373737;
}
