.room__header {
  position: relative;
  margin-bottom: 30px;
}
.room__header .img-container {
  width: 100%;
}
.room__header .img-container img {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
.name__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.823);
  text-align: center;
  width: 60%;
  border-radius: 3px;
  padding: 20px 0;
}
.name__hero h1 {
  color: white;
  text-transform: capitalize;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 600;
}
.accent {
  border: 1px solid #f51167;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.room-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.img-wrapper {
  width: 33%;
}
.room-img {
  width: 100%;
  object-fit: cover;
}
.room-description h4,
.room-info h4,
.room-extras h4 {
  margin-top: 30px;
  font-weight: 600;
  color: #1a6692;
}
.room-info .info-wrapper li,
.room-extras li,
.room-description p {
  color: #525252;
  letter-spacing: 1px;
  text-align: justify;
}
.room-info .info-wrapper li span {
  color: #f51167;
}
.info-wrapper,
.extras-wrapper {
  list-style-type: none;
  display: grid;
  padding-inline-start: 0px;
}
.info-wrapper {
  /* grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); */
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.extras-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.reserve-btn {
  border: 1px solid #1a6692;
  width: 100%;
  background: #1a6692;
  margin-bottom: 50px;
  color: #fff;
  padding: 10px 0;
}
.reserve-btn:hover {
  background: transparent;
  color: #1a6692;
}
/* @media screen and (max-width: 1024px) {
  .extras-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} */
@media screen and (min-width: 776px) {
  .info-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
@media screen and (max-width: 776px) {
  .info-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
